<div class="content">
    <div class="body">
        <h1> Comprobante de transferencia </h1>
        <div class="body-up">
            <div class="row">
                <div class="row__text"> <strong class="row__text__strong"> Monto </strong> </div>
                <div class="row__text"> <strong class="row__text__strong"> $10.000 </strong> </div>
            </div>
            <div class="row">
                <div class="row__text row__text--sm"> <span class="row__text__span"> Desde </span> cuenta </div>
                <div class="row__text"> <span class="row__text__span"> CuentaRUT 18654879 </span> </div>
            </div>
            <div class="row">
                <div class="row__text row__text--sm"> <span class="row__text__span"> Hacia </span> cuenta </div>
                <div class="row__text"> <span class="row__text__span"> Cuenta de ahorro 18654879 </span> </div>
            </div>
        </div>
        <div class="body-down">
            <div class="row">
                <div class="row__text"> Fecha y hora </div>
                <div class="row__text"> <span class="row__text__span"> 20/02/2024 11:22:16 </span> </div>
            </div>
            <div class="row">
                <div class="row__text"> N° de operación </div>
                <div class="row__text"> <span class="row__text__span"> 7054900 </span> </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ui-button [text]="'Compartir Comprobante'" class="footer__button"> Compartir comprobante </ui-button>
        <a routerLink="/form" class="footer__link"> Volver </a>
    </div>
</div>